/** @format */

// Use GOV.UK Frontend
$_font-family: system-ui, sans-serif;
@use 'pkg:govuk-frontend/dist/govuk' with (
        $govuk-font-family: $_font-family,
        $govuk-new-typography-scale: true,
        $govuk-brand-colour: #000080,
        $govuk-link-colour: #0000ff,
        $govuk-link-hover-colour: #000080,
        $govuk-link-visited-colour: #4b0082,
        // $govuk-page-width: 1024px
    );

// Use GOV.UK Eleventy Plugin components
@use 'pkg:@x-govuk/govuk-eleventy-plugin';

// Anchor link styles for headings
h2[id], h3[id], h4[id], h5[id], h6[id] {
  scroll-margin-top: 2rem; // Adds space when jumping to anchor
  position: relative;

  // Show # symbol on hover
  &:hover::before {
    content: "#";
    position: absolute;
    left: -1.5rem;
    color: #0000ff;
    font-weight: normal;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
  }

  // Make the entire heading clickable for copying the anchor link
  &:hover {
    cursor: pointer;
  }
}
